.features{
    .container{
        .content-boxs{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
            gap: 15px;
            .box{
                background-color: #fff;
                box-shadow: var(--box-shadow);
                padding:30px 20px;
                text-align: center;
                outline: var(--outline);
                outline-offset: -15px;
                &:hover{
                    outline: var(--outline-hover);
                    outline-offset: 0;
                }
                img{
                    height: 250px;
                    width: 100%;
                }
                h3{
                    margin: 10px 0;
                    color: var(--black);
                    font-size: 25px;
                }
                p{
                    color: var(--light-color);
                    font-size: 17px;
                }
                @media (max-width:768px) {
                    & h3{
                        font-size: 20px;
                    }
                    & p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
